---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pagamento
  labels:
    app: pagamento
    tier: frontend
spec:
  selector:
    matchLabels:
      app: pagamento
      tier: frontend
  replicas: 1
  template:
    metadata:
      labels:
        app: pagamento
        tier: frontend
    spec:
      containers:
      - name: pagamento
        image: 751916211357.dkr.ecr.us-east-1.amazonaws.com/techchallenge-pagamento
        env:
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: AWS_ACCESS_KEY_ID
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: AWS_SECRET_ACCESS_KEY
              key: AWS_SECRET_ACCESS_KEY
        ports:
          - name: porta-pagto
            containerPort: 80
        resources:
          requests:
            memory: 128Mi
            cpu: 250m
          limits:
            memory: 128Mi
            cpu: 250m
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: role
                    operator: In
                    values:
                      - general


