---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pagamento
  labels:
    app: pagamento
    tier: frontend
spec:
  selector:
    matchLabels:
      app: pagamento
      tier: frontend
  replicas: 1
  template:
    metadata:
      labels:
        app: pagamento
        tier: frontend
    spec:
      containers:
        - name: pagamento
          image: diogomuniz/techchallenge-aplicacao-servico-pagamento:latest
          ports:
            - name: porta-pagto
              containerPort: 80
          resources:
            requests:
              memory: 256Mi
              cpu: 250m
            limits:
              memory: 256Mi
              cpu: 250m
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: role
                    operator: In
                    values:
                      - general
