# This is a basic workflow to help you get started with Actions

name: Pipeline

# Controls when the workflow will run
on:
    # Triggers the workflow on push or pull request events but only for the "main" branch
    push:
        branches: ["main"]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    # This workflow contains a single job called "build"
    terraform:
        # The type of runner that the job will run on
        runs-on: ubuntu-latest

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Configurar aws cli
              run: |
                  pip install awscli
                  aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws configure set default_region_name ${{ secrets.AWS_DEFAULT_REGION_NAME }}
                  aws configure set default_output_format JSON

            - name: Inicializar o terraform
              run: cd terraform && terraform init

            - name: Executar o script terraform
              run: cd terraform && terraform apply -auto-approve

            - name: Instalar docker desktop
              run: |
                  sudo apt update && sudo apt install -y docker.io
                  sudo usermod -aG docker $USER

            - name: Instalar kubectl
              run: sudo snap install kubectl --classic

            - name: Atualizar arquivo de configuração kubeconfig
              run: aws eks --region us-east-1 update-kubeconfig --name postech

            - name: Fazer o deploy
              run: |
                  kubectl apply -f k8s/deployment.yaml
                  kubectl apply -f k8s/public-lb.yaml
                  kubectl apply -f k8s/private-lb.yaml
