# This is a basic workflow to help you get started with Actions

name: Pipeline

# Controls when the workflow will run
on:
    # Triggers the workflow on push or pull request events but only for the "main" branch
    push:
        branches: ["main"]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    # This workflow contains a single job called "build"
    terraform:
        # The type of runner that the job will run on
        runs-on: ubuntu-latest

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Configurar aws cli
              run: |
                  sudo apt install -y awscli
                  aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws configure set default_region_name ${{ secrets.AWS_DEFAULT_REGION_NAME }}
                  aws configure set default_output_format JSON

            # - name: Inicializar o terraform
            #   run: cd terraform && terraform init

            # - name: Executar o script terraform
            #   run: cd terraform && terraform apply -auto-approve

            - name: Instalar docker desktop
              run: |
                  sudo apt install -y ca-certificates curl gnupg lsb-release
                  sudo mkdir -p /etc/apt/keyrings
                  curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /etc/apt/keyrings/docker.gpg
                  echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
                  sudo apt update -y
                  curl -O https://desktop.docker.com/linux/main/amd64/docker-desktop-4.25.0-amd64.deb
                  sudo apt-get -y install ./docker-desktop-4.25.0-amd64.deb

            - name: Instalar kubectl
              run: |
                  sudo apt-get update
                  sudo apt-get install -y apt-transport-https ca-certificates curl
                  sudo chmod -R 700 /etc/apt/keyrings
                  sudo chmod -R 700 /etc/apt/sources.list.d
                  curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.28/deb/Release.key | sudo gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg
                  echo 'deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.28/deb/ /' | sudo tee /etc/apt/sources.list.d/kubernetes.list
                  sudo apt-get -y update
                  sudo apt-get install -y kubectl

            - name: Atualizar arquivo de configuração kubeconfig
              run: aws eks --region us-east-1 update-kubeconfig --name postech

            - name: Fazer o deploy
              run: |
                  kubectl apply -f k8s/deployment.yaml
                  kubectl apply -f k8s/public-lb.yaml
                  kubectl apply -f k8s/private-lb.yaml
